<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logoTec.png", :alt => "rss feed", style: "height:24px; width:30px;" %>
      PantallasTec
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link justify-content-end' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Iniciar sesion', new_user_session_path, class: 'nav-link justify-content-end' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <p id="notice"><%= notice %></p>  
  <ul class="nav justify-content-end">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
  <h1>Publications</h1> 
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @publications.each do |publication| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= image_tag(url_for(publication.picture)) %>
          <div class="card-body">
            <h5 class="card-title"><%= publication.name %></h5>
            <p class="card-text"><%= publication.description %></p>
            <div class="btn-group">
              <%= link_to 'Ver', publication, class: "btn btn-primary" %>
              <%= link_to 'Editar', edit_publication_path(publication), class: "btn btn-primary" %>
              <%= link_to 'Eliminar', publication, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </div>
          </div>
        </div>    
      </div>
      <% end %>
    </div>

  <br>

  <%= link_to 'New Publication', new_publication_path %>
</div>